body{
    margin: 0;
}

.wrapper{
    background-color: #6A6A6A;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 375px 86px 70px 318px 100px 318px 100px 318px 70px ;
    grid-template-areas: 
    "headpic"
    "header"
    "."
    "Projects"
    "."
    "Contact"
    "."
    "Team"
    ".";
}

.frontpic{
    height: 375px;
    grid-area: headpic;
}

header{
    background-color: #464646;
    height: 86px;
    position: sticky;
    top: 0;
    display: flex;
    grid-area: "header";
}

i.material-icons{
    font-size: 70px;
    color: white;
    margin-left: 15px;
    margin-bottom: auto;
    margin-top: auto;
}

.menubox{
    height: 0;
    background-color: #828D68;
    position: absolute;
    overflow: hidden;
}

.activate{
    height: 325px;
    width: 100vw;
    top: 86px;
}

.seperator{
    background-color: white;
    height: 5px;
    width: 100%
}

ul{
    list-style: none;
    padding: 0;
    margin: 50px;
    margin-top: 45px;
    margin-bottom: 45px;
}

li{
    margin-top: 10px ;
    margin-bottom: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{ 
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    text-decoration: none;
}


ul a{
    font-size: 25px;
}

.f-projects{
    grid-area: Projects;
}

.f-contact{
    grid-area: Contact;
}

.f-team{
    grid-area: Team;
}

.frontbox{
    background-color: #8BAA8B;
    height: 318px;
}

.collapsebox{
    background-color: rgba(0, 0, 0, 0.72);
    overflow: hidden;
    height: 0;
    width: 0;
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: auto 54px 27px;
}


.frontbox:hover .collapsebox{
    height: 318px;
    width: 100%;
}

.collapselink{
    background-color: #828D68;
    font-size: 23px;
    width: 170px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

h2{
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin: 0;
}

.text{
    margin: 32px;
}

.centerbox{
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events:none;
}