body{
    margin: 0;
}

.wrapper{
    min-height: 100vh;
    background-color: #6A6A6A;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 318px 86px 70px 318px 100px 318px 100px 318px 70px ;
    grid-template-areas: 
    "headpic"
    "header"
    "."
    "Projects"
    "."
    "Contact"
    "."
    "Team"
    ".";
}

.Text{
    color: white;
    font-family: 'Catamaran', sans-serif;
}

.frontpic{
    height: 375px;
    grid-area: headpic;
}

header{
    background-color: #464646;
    height: 86px;
    position: sticky;
    top: 0;
    display: flex;
    grid-area: header;
    z-index: 100;
}

i.material-icons{
    font-size: 70px;
    color: white;
    margin-left: 15px;
    margin-bottom: auto;
    margin-top: auto;
    z-index: 101;
}

.menubox{
    height: 0;
    background-color: #828D68;
    position: absolute;
    overflow: hidden;
}

.activate{
    height: 325px;
    width: 100vw;
    top: 86px;
}

.seperator{
    background-color: white;
    height: 5px;
    width: 100%;
    border-radius: 5px;
}

.big-sep{
    height: 7px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 50px;
    margin-top: 45px;
    margin-bottom: 45px;
}

li{
    margin-top: 10px ;
    margin-bottom: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{ 
    font-weight: bold;
    text-decoration: none;
}


ul a{
    font-size: 25px;
}

.f-projects{
    grid-area: Projects;
}

.f-contact{
    grid-area: Contact;
}

.f-team{
    grid-area: Team;
}

.frontbox{
    background-color: #8BAA8B;
    height: 318px;
}

.collapsebox{
    background-color: rgba(0, 0, 0, 0.72);
    overflow: hidden;
    height: 0;
    width: 0;
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: auto 54px 27px;
}


.frontbox:hover .collapsebox{
    height: 100%;
    width: 100%;
}

.collapselink{
    background-color: #828D68;
    font-size: 23px;
    width: 170px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

h2{
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin: 0;
}

.centertext{
    margin: 32px;
}

.centerbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitterlink{
    background-image: url(../img/twitterlogo-mobile.png);
    width: 230px ;
    height: 200px ;
}

.wrapp-C {
    grid-template-rows: 318px 86px 160px 240px 50px 60px 30px 10px 180px 50px 200px 70px ;
    grid-template-areas: 
    "Contact"
    "header"
    "Title"
    "email-text"
    "."
    "email"
    "."
    "sep"
    "twitter-text"
    "."
    "twitter"
    ".";
}

.titlebox{
    grid-area: Title;
    background-color:#8BAA8B;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.mediumtext{
    font-size: 35px;
    margin-right: 30px;
    margin-left: 30px;
}

.email-text{
    grid-area: email-text;
}

.semiboldsmall{
    font-size: 28px;
    font-weight: 600;
}

.email{
    grid-area: email;
}

.c-sep{
    grid-area: sep;
}

.tw-text{
    grid-area: twitter-text;
}

.tw-link{
    grid-area: twitter;
}

.wrapp-T{
    grid-template-rows: 318px 86px 160px 70px 210px auto auto 50px 5px 30px 210px auto auto 50px 5px 70px auto 30px ;
    grid-template-areas: 
    "Team"
    "header"
    "Title"
    "."
    "Pic1"
    "Name1"
    "Desc1"
    "."
    "Sep1"
    "."
    "Pic2"
    "Name2"
    "Desc2"
    "."
    "Sep2"
    "."
    "More"
    ".";
}


.Profile{
    height: 190px;
    width: 150px;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 10px;
    /* background-image: url() */
}

.name{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px;
}

.description{
    font-size: 35px;
    margin: 10px;
}

.more{
    font-size: 40px;
    font-weight: bold;
    grid-area: More;
    margin: 10px;
}

.P-Jk{
    grid-area: Pic1;
}

.N-Jk{
    grid-area: Name1;
}

.D-Jk{
    grid-area: Desc1;
}

.P-Jc{
    grid-area: Pic2;
}

.N-Jc{
    grid-area: Name2;
}

.D-Jc{
    grid-area: Desc2;
}

.t-sep1{
    grid-area: Sep1;
}

.t-sep2{
    grid-area: Sep2;
}

.wrapp-P{
    grid-template-rows: 318px 86px 160px 70px auto 30px auto 30px 7px 30px auto 50px ;
    grid-template-areas: 
    "Projects"
    "header"
    "Title"
    "."
    "trailer"
    "."
    "picalbum"
    "."
    "sep"
    "."
    "game-desc"
    ".";
}

.trailer{
    grid-area: trailer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picturealbum{
    grid-area: picalbum;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.P-sep{
    grid-area: sep;
}

.game-desc{
    grid-area: game-desc;
}

.mySlides{
    width: 320px;
    height: 280px;
}

.pic1{
    background-color: bisque;
}

.pic2{
    background-color: coral;
}

.pic3{
    background-color: brown;
}

.pic4{
    background-color: cornflowerblue;
}

button{
    background-color: rgb(50, 50, 50);
    border-color: rgb(30, 30, 30);
    color: white;
}

.leftbutton{
    position: absolute;
    left: 15px;
}

.rightbutton{
    position: absolute;
    right: 15px;
}

.smalltext{
    font-size: 24px;
    margin-right: 30px;
    margin-left: 30px;
}

.deskonly{
    display: none;
}

.mobileonly{
    display: initial;
}

@media only screen and (min-width: 768px){

    .deskonly{
        display: initial;
    }

    .mobileonly{
        display: none;
    }

    header{
        height: 100%;
        width: 220px;
        position: sticky;
        display: flex;
        grid-area: header;
        grid-row: span 8;
    }

    i.material-icons{
        display: none;
    }

    .logo{
        width: 150px;
        height: 150px;
        background-color: honeydew;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto ;
        margin-right: auto ;
    }
    
    .menubox{
        height: 100%;
        width: 100%;
        background-color: transparent;
        position: static;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 30% ;
    }
    
    ul{
        padding: 0;
        margin: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    li{
        margin-top: 20px ;
        margin-bottom: 20px ;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper{
        grid-template-columns: 220px 1fr 1fr 1fr;
        grid-template-rows: 620px auto;    
        grid-template-areas: 
        "header headpic headpic headpic"
        ". Projects Contact Team"
    }

    .frontpic{
        height: 600px;
        background-color: darkgreen;
    }

    .frontbox{
        margin: 20px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .wrapp-C {
        grid-template-rows: auto 10px auto auto auto 10px;
        grid-template-columns: 220px 10% 1fr 200px 1fr 10% ;
        grid-template-areas: 
        "header . Title . . ."
        ". . sep1 . sep ."
        ". . email-text . twitter-text ."
        ". . email . twitter ."
        ". . . . . ."
        ". . sep2 . sep3 ." ;
    }

    .big-sep{
        height: 10px;
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }

    .c-sep1{
        grid-area: sep1;
    }

    .c-sep2{
        grid-area: sep2;
    }

    .c-sep3{
        grid-area: sep3;
    }

    .titlebox{
        grid-area: Title;
        font-size: 50px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 100px;
        height: 175px ;
        width: 550px;
    }

    .tw-link{
        grid-row: span 2;
    }

    .wrapp-T{
        grid-template-columns: 220px 10% 250px auto 200px 250px auto 10%  ;
        grid-template-rows: auto 10px 100px 150px 10px auto ;
        grid-template-areas: 
        "header . Title . . . . ."
        ". . Pic1 Sep3 . Pic2 Sep4 ."
        ". . . Name1 . . Name2 ."
        ". . . Desc1 . . Desc2 ."
        ". . . Sep1 . . Sep2 ."
        ". . . More . . . ." ;
    }

    .t-sep3{
        grid-area: Sep3;
    }
    
    .t-sep4{
        grid-area: Sep4;
    }

    
    .Profile{
        height: 285px;
        width: 220px;
        margin: 0;
        grid-row: span 4;

        /* background-image: url() */
    }

    .name{
        font-size: 45px;
        margin: 0px;
    }

    .description{
        font-size: 40px;
        margin: 0px;
    }

}

/* "Team"
"header"
"Title"
"."
"Pic1"
"Name1"
"Desc1"
"."
"Sep1"
"."
"Pic2"
"Name2"
"Desc2"
"."
"Sep2"
"."
"More"
"." */